<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>trojan-qt.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>By Trojan-GFW</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Trojan</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.trojan-gfw</string>
	<key>NOTE</key>
	<string>Trojan, an unidentifiable mechanism that helps you bypass GFW.</string>
</dict>
</plist>
